 body {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans' sans-serif;
 }




 .card {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   height: 400px;
   transform-style: preserve-3d;
   perspective: 600px;
   transition: 1s;
 }


 .card .front {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 101%;
   background-color: #F7F7F7;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: all 0.3s ease;
 }


 .card:hover .front {
   transform: rotateX(180deg);

 }

 .card .back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 101%;
   background-color: red;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: all 0.3s ease;
 }

.card:hover .back{
  transform: rotateX(0deg) ;
}


 .back {
   margin-bottom: 100px;
 }


 .back .detalis {
   position: absolute;
   top: 50%;
   transform: translateY(-50);
   left: 0;
   width: 100%;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
 }

 h2 {
   margin: 0;
   font-size: 24px;

 }

 .card .back .detalis h2 span {
   color: aqua;
   font-size: 16px;
 }

 .icons {
   padding: 10px 0;
 }

 .icons a {
   display: inline-block;
   width: 40px;
   height: 40px;
   text-align: center;
   background-color: #2626;
   color: #fff;
   text-decoration: none;
   border-radius: 50%;
   transition: .5s;
 }


 .icons {
   line-height: 40px;
 }


 .icons a:hover {
   background: yellow;
 }

 .back::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0px;
   width: 50%;
   height: 100%;
   background-color: pink;
 }



































 html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}